h1 {
    margin-top: 3%;
    text-align: center;
    font-family: "Calibri light", serif;
    letter-spacing: 2px;
    color: black;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}

th{
    margin-top: 2%;
    border: 1px solid whitesmoke;
    text-align: center;
    font-family: "Calibri", serif;
    letter-spacing: 2px;
    color: white;
    padding: 6px;
    background-color: black;
}

td {
    border: 0.5px solid black;
    text-align: center;
    font-family: "Calibri", serif;
    letter-spacing: 2px;
    padding: 10px;
    color: black;
   }

form {
    margin-top: 1%;
    text-align: center;
    padding: 7px;
    font-family: "Calibri", serif;
    color: black;
}

input {
    padding: 7px;
    text-align: center;
    margin-bottom: 0.5%;
}

select {
    padding: 7px;
    width: 168px;
    text-align: center;
    margin-bottom: 1px;
}

button {
    border: 1px solid white;
    display: flow;
    margin-top: 3%;
    margin-left: 44%;
    width: 150px;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px;
    text-align: center;
    font-family: "Calibri light", serif;
    cursor: pointer;
    background-color: black;
    color: white;
}



button:hover{
    cursor: pointer;
    box-shadow: 7px 7px 7px darkgray;
}

input {
    padding: 7px;
    width: 150px;
    text-align: center;
    margin-bottom: 1px;
}

