<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Add Rental</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
</head>
<body>
<h1>REGISTER RENTAL</h1>

<form action ="/addRental" method="post">

    <input type ="text" name="id" placeholder="Customer_ID"><br>
    <input type ="text" name="motorho_id" placeholder="Motorho_ID"><br>
    <input type ="date" name="start_date" placeholder="Start_date"><br>
    <input type ="date" name="end_date" placeholder="End_date"><br>
    <input type ="text" name="season_id" placeholder="Season_ID"><br>
    <input type ="text" name="location_id" placeholder="Location_ID"><br>
    <input type ="text" name="item_id" placeholder="Item_ID"><br>
    <input type="submit" value="Register" style="margin-top:1%">


</form>

</body>
</html>