<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.w3.org/1999/xhtml">
    <title>ExtraCharge</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
</head>
<body>
<h1>EXTRA CHARGE</h1>

<form action ="/addCharge" method="post">

    <input type ="text" name="accessory" placeholder="Accsessory"><br>
    <input type ="text" name="fuel_level" placeholder="Fuel_Level"><br>
    <input type ="text" name="speed_meter" placeholder="Speed_Meter"><br>
    <input type="submit" value="Register" style="margin-top:1%">


</form>

</body>
</html>-->