<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RENTAL</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1>RENTALS</h1>

<table>
    <thead>
    <tr>
        <th>RentalID</th>
        <!--<th>CustomerID</th>-->
        <th>FirstName</th>
        <th>LastName</th>
       <!--<th>MotorhomeID</th>-->
        <th>MotorhomeName</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <!--<th>SeasonID</th>-->
        <!--<th>Price</th>-->
        <!--<th>LocationID</th>-->
        <th>Location</th>
        <!--<th>Accessory</th>-->
        <!--<th>RepairRequirement</th>-->
        <!--<th>Total</th>-->
        <th>Option</th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="rental : ${rentals}">
        <td th:text="${rental.rental_id}"/>
        <!--<td th:text="${rental.id}"/>-->
        <td th:text="${rental.first_name}"/>
        <td th:text="${rental.last_name}"/>
        <td th:text="${rental.motorho_name}"/>
        <td th:text="${rental.start_date}"/>
        <td th:text="${rental.end_date}"/>
        <td th:text="${rental.location_name}"/>

        <td id="btn-column">
            <a th:href="@{'/viewRental/'+${rental.rental_id}}">View</a>
            <a th:href="@{'/deleteRental/'+${rental.rental_id}}">Delete</a>
            <a th:href="@{'/editRental/'+${rental.rental_id}}">Edit</a>
            <a th:href="@{'/chargeRental/'+${rental.rental_id}}">Charge</a>
        </td>



    </tr>
    </tbody>
</table>

<button onclick="location.href='addRental'">Register</button>


</body>
</html>