<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rental Details</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
</head>
<body>
<h1>RENTAL DETAILS</h1>

<table>
    <thead>
    <tr>
        <th>RentalID</th>
        <th>Start_Date</th>
        <th>End_Date</th>
        <th>Rental_Fee</th>
        <th>Location</th>
        <th>Transfer_Fee</th>
        <th>Accessory_Fee</th>
        <th>Fuel_Fee</th>
        <th>Speed_Meter_Fee</th>
        <th>Repair_Completed</th>
        <th>Total</th>


    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${rental.rental_id}"/>
        <td th:text="${rental.start_date}"/>
        <td th:text="${rental.end_date}"/>
        <td th:text="${rental.price}"/>
        <td th:text="${rental.location_name}"/>
        <td th:text="${rental.location_price}"/>
        <td th:text="${rental.item_price}"/>
        <td th:text="${rental.fuel_fee}"/>
        <td th:text="${rental.speed_meter_fee}"/>
        <td th:text="${rental.availability}"/>
        <td th:text="${rental.total}"/>
    </tr>
    </tbody>
</table>
<button onClick="history.back()">Go Back</button>


</body>
</html>

