<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Motorhome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
</head>
<body>
<h1>REGISTER MOTORHOMES</h1>

<form action ="/addMotorho" method="post">

    <input type ="text" name="motorho_name" placeholder="Motorhome Name"><br>
    <input type ="text" name="brand_name" placeholder="Brand Name"><br>
    <input type ="text" name="size" placeholder="Size"><br>
    <input type ="text" name="year" placeholder="Year"><br>
    <select name="season_id">
        <option value="" disabled selected hidden>Season_ID</option>
        <option value="1">1. low_price:120</option>
        <option value="2">2. middle_price:156</option>
        <option value="3">3. peak_price:190</option>
        <option value="4">4. low_price:140</option>
        <option value="5">5. middle_price:182</option>
        <option value="6">6. peak_price:224</option>
        <option value="7">7. low_price:160</option>
        <option value="8">8. middle_price:208</option>
        <option value="9">9. peak_price:256</option>
        <option value="10">10. low_price:180</option>
        <option value="11">11. middle_price:234</option>
        <option value="12">12. peak_price:288</option></select><br>
    <select name="availability">
        <option value="" disabled selected hidden>Availability</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option></select><br>
    <input type="submit" value="Register" style="margin-top:1%">


</form>

</body>
</html>