<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Motorhome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
</head>
<body>
<h1>REGISTER MOTORHOMES</h1>

<form action ="/addMotorho" method="post">

    <input type ="text" name="motorho_name" placeholder="Motorhome Name"><br>
    <input type ="text" name="brand_name" placeholder="Brand Name"><br>
    <input type ="text" name="size" placeholder="Size"><br>
    <input type ="text" name="year" placeholder="Year"><br>
    <input type ="text" name="season_id" placeholder="Season_ID"><br>
    <input type ="text" name="availability" placeholder="Availability"><br>
    <input type="submit" value="Register" style="margin-top:1%">


</form>

</body>
</html>